<div class="tour-detail-modal">
  <p class="title">
    {{ data.destination }}
    <span class="status" [ngClass]="{ 'bg-warning': data.status === 'pending',
      'bg-success': data.status === 'approved', 'bg-danger': data.status === 'rejected' }">
      {{ data.status }}
    </span>
    <small>Created by {{ data.created_by }}, on {{ data.created_at }}</small> 
  </p>
  <p class="text-muted"><small>{{ data.description }}</small></p>
  <p class="text-muted"><small>Travel period: from <b>{{ data.start_date }}</b> to <b>{{ data.end_date }}.</b></small></p>
  <p>
    <button mat-raised-button color="primary" routerLink="/tours/{{ data.tour_id }}" (click)="dialogRef.close()">
      <mat-icon matPrefix>remove_red_eye</mat-icon> view more info
    </button>
    <button mat-raised-button *ngIf="data.status === 'draft' && canEdit" color="accent" [routerLink]="['tours', data.tour_id, 'edit']" (click)="dialogRef.close()">
      <mat-icon matPrefix>edit</mat-icon> edit 
    </button>
    <button mat-raised-button *ngIf="canSubmit" class="bg-success text-white" [routerLink]="['tours', data.tour_id, 'submit']" (click)="dialogRef.close()">
      <mat-icon matPrefix>send</mat-icon> submit 
    </button>
    <button mat-raised-button *ngIf="canRequestInfo" class="bg-primary text-white" (click)="inquire()">
      <mat-icon matPrefix>help_outline</mat-icon> request info 
    </button>
    <button mat-raised-button *ngIf="canAddInfo" class="bg-light text-white" [routerLink]="['tours', data.tour_id, 'add-info']" (click)="dialogRef.close()">
      <mat-icon matPrefix>add</mat-icon> add info 
    </button>
    <button mat-raised-button *ngIf="canApproveReject" class="bg-success text-white" (click)="approve()">
      <mat-icon matPrefix>check</mat-icon> approve 
    </button>
    <button mat-raised-button *ngIf="canApproveReject" class="bg-danger text-white" (click)="reject()">
      <mat-icon matPrefix>close</mat-icon> reject 
    </button>
  </p>
</div>