table {
  width: 100%;

  p.status {
    border-radius: 25px;
    padding: 5px 8px;
    display: inline;
    font-size: 11px;
    color: #fff;
  } 

  tr.mat-row {
    &:hover {
      td {
        background-color: #eef5fa;
        cursor: pointer;
      }
    }
  }
}

.header-container {
  mat-label {
    margin-right: 10px;
    font-size: 12px;
    letter-spacing: 0.5px;
    font-weight: bold;
  }

  .mat-select {
    font-size: 12px;
  }

  .mat-raised-button {
    min-width: 150px;
    border-radius: 25px;
  }
}