.tour-detail-modal {
  .status {
    border-radius: 25px;
    padding: 2px 8px;
    font-size: 10px;
    color: #fff;
    vertical-align: middle;
  } 
  .title small {
    display: block;
    font-size: 10px;
  }
  button {
    margin-right: 5px;
  }
}