<div class="container add-edit">
  <div class="header row">
    <h3>Add Tour</h3>
    <a routerLink="/tours">
      <mat-icon matPrefix>keyboard_backspace</mat-icon> go back
    </a>
  </div>

  <div class="card row">
    <form class="row col-12">
      <h5>Basic Information</h5>

      <mat-form-field floatLabel="always" class="col-12">
        <mat-label>Destination</mat-label>
        <input type="text" name="destination" matInput>
        <mat-hint align="start">Enter the destination.</mat-hint>
      </mat-form-field>

      <mat-form-field floatLabel="always" class="col-12">
        <mat-label>Description</mat-label>
        <textarea matInput rows="5"></textarea>
        <mat-hint align="start">Enter a short description of the tour.</mat-hint>
      </mat-form-field>

      <mat-form-field floatLabel="always" class="col-6">
        <mat-label>Start Date</mat-label>
        <input matInput [matDatepicker]="startDatepicker">
        <mat-hint align="start">Enter the start date of the tour.</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="startDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #startDatepicker></mat-datepicker>
      </mat-form-field>   

      <mat-form-field floatLabel="always" class="col-6">
        <mat-label>End Date</mat-label>
        <input matInput [matDatepicker]="endDatepicker">
        <mat-hint align="start">Enter the start date of the tour.</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="endDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #endDatepicker></mat-datepicker>
      </mat-form-field>   

      <mat-form-field floatLabel="always" class="col-12">
        <mat-label>Mode of Travel</mat-label>
        <mat-select>
          <mat-option value="Airplane">Airplane</mat-option>
          <mat-option value="Ship">Ship</mat-option>
          <mat-option value="Railway">Railway</mat-option>
        </mat-select>
        <mat-hint align="start">Select the mode of travel.</mat-hint>
      </mat-form-field>

      <mat-form-field floatLabel="always" class="col-12">
        <mat-label>Local Conveyance</mat-label>
        <input type="text" name="conveyance" matInput>
        <mat-hint align="start">Enter the local conveyance at the destination.</mat-hint>
      </mat-form-field>

      <mat-divider></mat-divider>

      <h5>Breakdown of Cost</h5>

      <table>
        <tr>
          <td>
            Hotel
          </td>
          <td>
            P 0
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>