.add-edit {
  .card {
    padding: 40px 10px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-content: center;
    border-top: 3px solid #673ab7;
  }

  mat-label {
    font-weight: bold;
  }

  mat-divider {
    width: 100%;
    margin: 60px 0 20px 0;
  }
}