<div class="container tour-detail">
  <div class="header row">
    <h3>View Tour</h3>
    <a routerLink="/tours">
      <mat-icon matPrefix>keyboard_backspace</mat-icon> go back
    </a>
  </div>

  <div class="card row" *ngIf="tour">
    <mat-horizontal-stepper linear="true" [selectedIndex]="currentStep">
      <mat-step label="Create tour" completed="true" editable="false">
      </mat-step>
      <mat-step label="Manager Approval" [completed]="currentStep > 1" editable="false"
        [state]="currentStep == 1 && tour.status == 'rejected' ? 'close' : 'number'">
      </mat-step>
      <mat-step label="Finance Approval" [completed]="currentStep > 2" editable="false"
        [state]="currentStep >= 2 && tour.status == 'rejected' ? 'close' : 'number'">
      </mat-step>
    </mat-horizontal-stepper>

    <div class="col-12 basic-info">
      <div class="row text-left">
      <mat-divider class="col-12"></mat-divider>
        <div class="col-6">
          <h4>
            <span>Current Location</span>
            <small class="text-muted">Leave on {{ tour.start_date }}</small>
          </h4>
        </div>
        <div class="col-6 text-right">
          <h4>
            <span>{{ tour.destination }}</span>
            <small class="text-muted">Return on {{ tour.end_date }}</small>
          </h4>
        </div>
      </div>
      <mat-divider class="col-12"></mat-divider>

      <div class="description">
        <b>Description</b>
        <p><small>{{ tour.description }}</small></p>
      </div>

      <div class="mode">
        <b>Mode of Transport</b>
        <p><small>{{ tour.mode_of_travel }}</small></p>
      </div>

      <div class="conveyance">
        <b>Conveyance</b>
        <p><small>{{ tour.conveyance }}</small></p>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="col-12 breakdown">
      <h5 class="text-left">Cost Breakdown</h5>

      <table class="table" class="col-12">
        <tr>
          <td>Hotel</td>
          <td class="text-right">
            <mat-label>&#8369;</mat-label> {{ tour.hotel }}
          </td>
        </tr>

        <tr>
          <td>Ticket</td>
          <td class="text-right">
            <mat-label>&#8369;</mat-label> {{ tour.ticket }}
          </td>
        </tr>

        <tr>
          <td>Airport cab at home</td>
          <td class="text-right">
            <mat-label>&#8369;</mat-label> {{ tour.airport_cab_home }}
          </td>
        </tr>

        <tr>
          <td>Airport cab at destination</td>
          <td class="text-right">
            <mat-label>&#8369;</mat-label> {{ tour.airport_cab_destination }}
          </td>
        </tr>

        <tr>
          <td>TOTAL</td>
          <td class="text-right">&#8369; {{  tour.hotel + tour.ticket + tour.airport_cab_home + tour.airport_cab_destination }}</td>
        </tr>
      </table>

    </div>

    <mat-divider *ngIf="tour.supporting_documents"></mat-divider>
    <div *ngIf="tour.supporting_documents" class="col-12 docs">
      <h5>Supporting Documents</h5>
      <div class="media" *ngFor="let doc of tour.supporting_documents">
          <img [src]="doc.image" alt="...">
          <div class="media-body">
            {{ doc.description }}
          </div>
      </div>
    </div>

    <mat-divider *ngIf="tour.additional_information"></mat-divider>
    <div *ngIf="tour.additional_information" class="col-12 info">
      <h5>Additional Information</h5>
      <div class="media" *ngFor="let info of tour.additional_information">
        <div class="media-body">
          <p>{{ info.information }}</p>
          <p class="text-muted"><small> - requested by {{ info.requested_by || 'finance' }}</small></p>
        </div>
      </div>
    </div>


  </div>
</div>