<div class="container tour-detail">
  <div class="header row">
    <h3>View Tour</h3>
    <a routerLink="/tours">
      <mat-icon matPrefix>keyboard_backspace</mat-icon> go back
    </a>
  </div>

  <div class="card row" *ngIf="tour">
    <mat-horizontal-stepper linear="true" [selectedIndex]="currentStep">
      <mat-step label="Create tour" [completed]="currentStep > 0" editable="false"
        [state]="currentStep === 0 ? state[tour.status].icon : null">
      </mat-step>
      <mat-step label="Manager Approval" [completed]="currentStep > 0" editable="false"
        [state]="currentStep === 1 ? state[tour.status].icon : null"
        [ngClass]="currentStep === 1 && tour.status == 'rejected' ? 'bg-danger' : ''">
      </mat-step>
      <mat-step label="Finance Approval" [completed]="currentStep > 0" editable="false"
        [state]="currentStep === 2 ? state[tour.status].icon : null"
        [ngClass]="currentStep === 2 && tour.status == 'rejected' ? 'bg-danger' : ''">
      </mat-step>
    </mat-horizontal-stepper>

    <p>{{ tour.destination }}</p>
  </div>
</div>