.tour-detail {
  .card {
    padding: 10px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  ::ng-deep .mat-stepper-horizontal, .col-12 {
    max-width: 750px;
    width: 100%;
  }

  mat-divider {
    width: 100%;
    margin: 25px 0;
  }

  ::ng-deep .mat-horizontal-stepper-header {
    pointer-events: none !important;
  }

  ::ng-deep .mat-horizontal-content-container {
    padding: 0;
  }

  ::ng-deep .mat-step-header .mat-step-icon-state-done {
    background-color: #28a745!important;
  }

  ::ng-deep .mat-step-icon-state-close.mat-step-icon  {
    background-color: #dc3545!important;
  }

  .basic-info {
    h4 {
      margin-bottom: 0;
      span {
        text-transform: uppercase;
        color: #ff4081 !important;
        font-weight: 800;
      }
      small {
        display: block;
        font-size: 12px;
      }
    }

    .description {
      margin-top: 15px;
    }

    .mat-divider {
      border-top-style: dashed;
      margin: 15px 0;
    }
  }
}