<div class="container tour-detail">
  <div class="header row">
    <h3>View Tour</h3>
    <a routerLink="/tours">
      <mat-icon matPrefix>keyboard_backspace</mat-icon> go back
    </a>
  </div>

  <div class="card row" *ngIf="tour">
    <mat-horizontal-stepper linear="true" [selectedIndex]="currentStep">
      <mat-step label="Create tour" [completed]="currentStep > 0" editable="false"
        [state]="currentStep === 0 ? state[tour.status].icon : null">
      </mat-step>
      <mat-step label="Manager Approval" [completed]="currentStep > 0" editable="false"
        [state]="currentStep === 1 ? state[tour.status].icon : null"
        [ngClass]="currentStep === 1 && tour.status == 'rejected' ? 'bg-danger' : ''">
      </mat-step>
      <mat-step label="Finance Approval" [completed]="currentStep > 0" editable="false"
        [state]="currentStep === 2 ? state[tour.status].icon : null"
        [ngClass]="currentStep === 2 && tour.status == 'rejected' ? 'bg-danger' : ''">
      </mat-step>
    </mat-horizontal-stepper>

    <div class="col-12 basic-info">
      <div class="row text-left">
      <mat-divider class="col-12"></mat-divider>
        <div class="col-6">
          <h4>
            <span>Current Location</span>
            <small class="text-muted">Leave on {{ tour.start_date }}</small>
          </h4>
        </div>
        <div class="col-6 text-right">
          <h4>
            <span>{{ tour.destination }}</span>
            <small class="text-muted">Return on {{ tour.end_date }}</small>
          </h4>
        </div>
      </div>
      <mat-divider class="col-12"></mat-divider>

      <div class="description">
        <b>Description</b>
        <p><small>{{ tour.description }}</small></p>
      </div>

      <div class="mode">
        <b>Mode of Transport</b>
        <p><small>{{ tour.mode }}</small></p>
      </div>

      <div class="conveyance">
        <b>Conveyance</b>
        <p><small>{{ tour.conveyance }}</small></p>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="breakdown">
      asdfa
    </div>
  </div>
</div>